{% extends "admin.html" %}
{% block content %}
<div style="max-width: 700px;  margin: auto; padding: 20px; border: 1px solid #ddd;background:rgba(255,255,255,0.9);margin-top: 40px; font-size: 20px;">
    <center><h2>Enter the Issue Details</h2></center>
    <form action="/process_issue" method="POST">
        <label>Book Title:</label>
        <input type="text" name="title" value="{{ book[0] }}" readonly style="width:100%;  height: 40px;font-size: 18px;padding:10px; background:#eee;">
        <br><br>
        <p><strong>Available Stock:</strong> {{ book[1] }}</p>
        
        <label>Student Name:</label>
        <input type="text" name="student" required style="width:100%;  height: 40px;font-size: 18px;padding:10px;">
        <br><br>
        <label>Trade Name:</label>
        <input type="text" name="trade" required style="width:100%;  height: 40px;font-size: 18px;padding:10px;">
        <br><br>
        <label>Quantity to Issue:</label>
        <input type="number" name="quantity" min="1" max="{{ book[1] }}" required style="width:100%;  height: 40px;font-size: 18px;padding:10px;">
        <br><br>
        <button type="submit" style="background:green; color:white; width:100%; padding:10px; border:none;">Confirm Issue</button>
        <p style="text-align:center;"><a href="/view_books" style="color: #333;">Cancel</a></p>
    </form>
</div>
{% endblock %}
