{% extends "index.html" %}
{% block title %}View Books{% endblock %}

{% block content %}

<div class="view_books">
    <div class="search">
   <h2>Books available in Library</h2> 
   <form method="get" action="/search_books">
       <input type="text" placeholder="Search books..." name="query">
       <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color:rgb(14, 13, 13)"></i></button>
   </form>
   </div>
   <div class="table_container">
    <table border="1" cellpadding="1" cellspacing="0">
        <thead>
            <tr> 
                <th>Sl no.</th>
                <th>Title</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
               
                <td>
                     <a href="/edit_book_detail/{{ book[0] }}" style="text-decoration:none;">
                        <button style="background-color: rgb(21, 21, 196);color:white; border:none; padding:2px 5px; cursor:pointer; font-size:12px;">Edit</button>
                    </a>
                    
                    <a href="/delete_book/{{ book[0] }}" 
                        style="color: red; text-decoration: none; margin-left: 5px; border: 1px solid black; border-radius: 3px; margin-right: 5px;
                        background-color: rgb(228, 225, 225); font-size: 14px;"
                        onclick="return confirm('Are you sure you want to delete all copies of: {{ book[0] }}?')">
                        Delete
                    </a>
                    <a href="/issue_page/{{ book[0] }}">
                        <button style="background-color: #007bff; color: white;">Issue</button>
                    </a>


                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
    </div>
</div>
<script>
function issueBook(title) {
    let student = prompt("Enter Student Name:");
    if (!student) return;

    let trade = prompt("Enter Student Trade (e.g., Electrician, Fitter):");
    if (!trade) return;

    let qty = prompt("How many copies of '" + title + "' to issue?");
    
    if (qty !== null && qty > 0 && student && trade) {
       
        window.location.href = `/issue_book/${encodeURIComponent(title)}/${qty}/${encodeURIComponent(student)}/${encodeURIComponent(trade)}`;
    }
}
</script>
{% endblock %}
